<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Listado de vehículos</title>
    </h:head>
    <h:body>
        
        <h:form id="vehiculosListForm">
            <p:growl id="messages" showDetail="true"/>
            <p:messages />
            <p:dataTable id="vehiculosDataTable" value="#{vehiculoBean.vehiculos}" var="vehiculo" editable="true" rowKey="#{vehiculo.idVehiculo}"
                         selection="#{vehiculoBean.vehiculoSeleccionado}" >
                <f:facet name="header">
                    Listado de Vehiculos
                </f:facet>
                
                <p:column headerText="Placa">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{vehiculo.placa}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{vehiculo.placa}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column headerText="Motor">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{vehiculo.motor}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{vehiculo.motor}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column headerText="Chasis">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{vehiculo.chasis}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{vehiculo.chasis}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column headerText="Modelo">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{vehiculo.modelo}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{vehiculo.modelo}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column headerText="Fecha Matricula">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{vehiculo.fechaMatricula}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{vehiculo.fechaMatricula}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column headerText="# Sentados">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{vehiculo.pasajerosSentados}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{vehiculo.pasajerosSentados}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column headerText="# Pie">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{vehiculo.pasajerosPie}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{vehiculo.pasajerosPie}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column headerText="Peso Seco">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{vehiculo.pesoSeco}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{vehiculo.pesoSeco}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column headerText="Peso Bruto">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{vehiculo.pesoBruto}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{vehiculo.pesoBruto}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column headerText="Puertas">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{vehiculo.puertas}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{vehiculo.puertas}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column headerText="Marca">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{vehiculo.marca}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{vehiculo.marca}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                <p:column headerText="Linea">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{vehiculo.linea}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{vehiculo.linea}" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                
                
                <f:facet name="footer">
                    <p:commandButton value="Regresar" action="seleccionarOpcionUsuario" />
                    <p:spacer height="5px" /> 
                    <p:commandButton value="Agregar" actionListener="#{vehiculoBean.reiniciarVehiculoSeleccionado}" update=":dialogForm" oncomplete="PF('vehiculoDialog').show()"/>
                </f:facet>
                
                <p:column headerText="Editar" style="width: 50px;">
                    <p:rowEditor />
                </p:column>
                
                <p:ajax event="rowEdit" listener="#{vehiculoBean.editListener}" />
            </p:dataTable>
            
            <p:contextMenu for="vehiculosDataTable">
                <p:menuitem value="Eliminar" update="vehiculosListForm:vehiculosDataTable" icon="ui-icon-close" actionListener="#{vehiculoBean.eliminarVehiculo()}"/>
            </p:contextMenu>
        </h:form>
        
        <p:dialog id="vehiculoDig" widgetVar="vehiculoDialog" header="Agregar Vehiculo" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
            <h:form id="dialogForm">
                <p:outputPanel id="vehiculoDetail" style="text-align: center">
                    <p:panelGrid id="display" columns="4" columnClasses="label, value" >
                        <h:outputText value="Placa" />
                        <h:inputText value="#{vehiculoBean.vehiculoSeleccionado.placa}" />
                        
                        <h:outputText value="Motor" />
                        <h:inputText value="#{vehiculoBean.vehiculoSeleccionado.motor}" />
                        
                        <h:outputText value="Chasis" />
                        <h:inputText value="#{vehiculoBean.vehiculoSeleccionado.chasis}" />
                        
                        <h:outputText value="Modelo" />
                        <h:inputText value="#{vehiculoBean.vehiculoSeleccionado.modelo}" />
                        
                        <h:outputText value="Fecha Matrícula" />
                        <h:inputText value="#{vehiculoBean.vehiculoSeleccionado.fechaMatricula}" />
                        
                        <h:outputText value="Pasajeros sentados" />
                        <h:inputText value="#{vehiculoBean.vehiculoSeleccionado.pasajerosSentados}" />
                        
                        <h:outputText value="Pasajeros de Pie" />
                        <h:inputText value="#{vehiculoBean.vehiculoSeleccionado.pasajerosPie}" />
                        
                        <h:outputText value="Peso Seco" />
                        <h:inputText value="#{vehiculoBean.vehiculoSeleccionado.pesoSeco}" />
                        
                        <h:outputText value="Peso Bruto" />
                        <h:inputText value="#{vehiculoBean.vehiculoSeleccionado.pesoBruto}" />
                        
                        <h:outputText value="Puertas" />
                        <h:inputText value="#{vehiculoBean.vehiculoSeleccionado.puertas}" />
                        
                        <h:outputText value="Marca" />
                        <h:inputText value="#{vehiculoBean.vehiculoSeleccionado.marca}" />
                        
                        <h:outputText value="Línea" />
                        <h:inputText value="#{vehiculoBean.vehiculoSeleccionado.linea}" />
                        
                        <f:facet name="footer">
                            <p:commandButton value="Agregar" actionListener="#{vehiculoBean.agregarVehiculo}" update="display,:vehiculosListForm:vehiculosDataTable" oncomplete="PF('vehiculoDialog').hide();"/>
                        </f:facet>
                    </p:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>
    </h:body>
</html>
